// vars
$color-secondary-text: rgba(204, 126, 45, 1);
$color-logo: rgb(255, 158, 56);
$color-save: rgba(69, 224, 224, 0.55);
$color-info-dimmed: rgba(184, 181, 240, 0.5);
$font-logo: 'Great Vibes', cursive;
$font-main: 'Source Sans Pro', sans-serif;


body, html{
	/*set background image with overlay*/
	height: 100%;
	font-weight: 300;
	color: white;
	font-family: $font-main;
	background: url("../img/background2.jpg") no-repeat center center fixed;
	background-size: cover;
}

.wrapper{
	background: linear-gradient(rgba(79, 158, 245, .4),rgba(79, 158, 245, .4)),
		url("../img/footer_lodyas.png");

	/*fixes background image*/
	background-attachment:fixed;
	position: relative;

	// don't allow horizontal scroll bar
	overflow-x: hidden;

	// account for fixed header
	padding-top: 168px;
	max-width: 700px;
	min-height: 100%;
	margin: auto;
}

.button-submit{
	display: block;
	width: 60%;
	margin: auto;
}

.or-break{
	border-color: black;
	background-color: #000;
	margin-top: 30px;
	margin-bottom: 10px;
}

.or-text{
	color: black;
	text-align: center;
	font-size: 2rem;
	margin-top: 14px;
}