body{
	/*set background image with overlay*/
	background: linear-gradient(rgba(79, 158, 245, .4),rgba(79, 158, 245, .4)),
		url("../img/footer_lodyas.png");

	/*fixes background image*/
	background-attachment:fixed;

	font-style: 'Helvetica Neue', HelveticaNeue, Ariel, sans-serif;

	color: white;
}

.wrapper{
	padding: 0;
	
	// don't allow horizontal scroll bar
	overflow-x: hidden;

	// account for fixed header
	padding-top: 100px;
}

.header{
	font-weight: 100;
	font-size: 3.5rem;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,.3);
	width: 100%;
	margin-top: 0;
	text-align: center;
	padding: 15px;
}

.button-submit{
	display: block;
	width: 60%;
	margin: auto;
}