
.location-select{
	margin: 30px 0;
}

.searchbox{
	color: black;
	text-align: center;
	
}

.typehead{
	padding: 20px 40px 20px 10px;
	text-align: left;
}

.twitter-typeahead{
	width: 100%;
}

.tt-dropdown-menu{
	background-color: #fff;
	width: 100%;
	margin-top: 10px;
	border-radius: 10px;
	border: 1px solid #999;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
}