.login-field{
	margin: 40px 0;
}

.login-field input{
	height: 50px;
	font-size: 2rem;
}

.button-login{
	float: right;
	width: 45%;
	background-color: #122B46;

}

.button-signup{
	
	float: left;
	width: 45%;
	background-color: #9491BF;
}

.button-login, .button-signup{
	margin-top: 20px;
}

.error-message{
	font-size: 2rem;
	text-align: center;
	background-color: rgba(255,255,255,0.3);
	color: red;
	position: relative;
	top: -20px;
}

.logo{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	margin-top: -50px;
	font-size: 12rem;
	margin-bottom: -10px;
	color: $color-logo;
}

.tag-line{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 200;
}
