.button-back{
	font-size: 2.5rem;
	position: absolute;
	left: 5px;
	top: 22px;
	color: white;

	&:hover{
		text-decoration: none;
	}
}

.rating-field{
	margin-bottom: 30px;
	margin-top: 10px;
}

.rating-header, .rating-display{
	font-size: 2rem;
	float: left;
}

.rating-display{
	float: right;
}

.rating-time{
	margin-top: 5px;
	margin-bottom: -20px;

	float: right;
	color: rgba(184, 181, 240, 0.5);
}


// add vertical space before submit button
.ratings .row:last-child{
	margin-bottom: 20px;

}

.slider.slider-horizontal{
	// shame
}

.value-changed{
	color: rgba(204, 126, 45, 1);
}