.field{
	margin-bottom: 0px;
	color: $color-secondary-text;
}

.field-input{
	font-size: 2rem;
	position: relative;
}

.button-change-password{
	margin-top: 30px;
	width: 80%;
}

.help-text{
	text-align: center;
	color: $color-secondary-text;
	margin: 15px 0 0;
}

.user-avatar{
	border-radius: 40px;
}

.setting-save{
	color: $color-info-dimmed;
	font-size: 1.7rem;
	float: right;
}

.setting-sliders{
	margin-top: 30px;
	margin-bottom: -10px;
}