select.form-control.location-select(data-category=category)
	option(value="",  selected=(values.length != 1)) Choose #{title}...
	each value in values
		option(value=value, data-spotId=spotId, selected=(selected === value))= value