h1.header
	a.glyphicon.glyphicon-menu-left.button-back(href="#location")
	| #{header}
p.rate-nav.rate-current Rate Wave
a.rate-nav(href="#view-spot") View Ratings

.ratings

a.btn.btn-primary.btn-lg.button-submit(href="#/location", role="button") Submit