.header
	.user
	a.glyphicon.glyphicon-menu-left.button-back(href="#location")
	h1= header

.view
	.rate-nav.rate-current
		span.glyphicon.glyphicon-stats
		|    
		| Rate Wave
	a.rate-nav(href="#view-spot")
		span.glyphicon.glyphicon-sunglasses
		|    
		| View Ratings

	p.help-text.hidden.animated Please login to rate a Wave

	.ratings

	.ratings-extra.ratings-extra-hidden

	.col-xs-5
		hr.show-more
	.col-xs-2.show-more-text
		span.btn.btn-primary.btn-md.button-show-more show more
	.col-xs-5
		hr.show-more

	.comment