h1.header
	a.header-login(href="#login") Login
	a.glyphicon.glyphicon-menu-left.button-back(href="#")
	| #{header}
p.rate-nav.rate-current Rate Wave
a.rate-nav(href="#view-spot") View Ratings

.ratings