.header
	.user
	a.glyphicon.glyphicon-menu-left.button-back(href="#")
	h1 #{header}
p.rate-nav.rate-current Rate Wave
a.rate-nav(href="#view-spot") View Ratings

p.help-text.hidden Please login to rate a Wave

.ratings