.row.comment-row
	.col-xs-1.col-xs-offset-2.no-padding
		img.avatar-comment(src='../img/default-avatar.jpg')
	.col-xs-7.no-padding
		.comment-box
			p= data.comment
		p.comment-user
			span.glyphicon.glyphicon-user.comment-icon
			| #{data.user}

		p.comment-time
			span.glyphicon.glyphicon-time.comment-icon
			| #{data.time}
