.row.comment-row
	.col-sm-offset-2.col-xs-1.col-xs-offset-1.no-padding.avatar-comment-container
		img.avatar-comment(src=data.avatar || '../img/default-avatar.jpg')

	.col-xs-8.col-sm-7.no-padding.col-comment-box
		.comment-box
			p= data.comment
			if data.delButton
				span.glyphicon.glyphicon-remove-sign.del-button
		p.comment-user
			span.glyphicon.glyphicon-user.comment-icon
			| #{data.user || "Dude"}

		p.comment-time
			span.glyphicon.glyphicon-time.comment-icon
			| #{data.time}
