.header
	h1 User Settings
	a.glyphicon.glyphicon-menu-left.button-back(href="#")

.view
	.row.user-details
		.col-xs-4.col-xs-offset-1
			if user.camera
				img.user-avatar.avatar-has-camera(src= user.avatar || '../img/default-avatar.jpg')
			else
				input.hidden(id="file-upload", type="file", accept="image/*", capture="camera")
				label.user-avatar(for="file-upload")
					img.user-avatar(src=user.avatar || '../img/default-avatar.jpg')


		.col-xs-6
			.field
				p User Name:
				p.field-input(data-field="username", contenteditable="true")= user.username || "Dude"
			
			.field
				p.field Email:
				p.field-input(data-field="email", contenteditable="true") #{user.email}

	p.help-text.push-down Click on the fields or picture above to change them
	p.settings-save= feedbackMessage

	.setting-sliders

	button.btn.btn-primary.btn-lg.button-change-password.center-block Change Password

	a(href="logout").btn.btn-primary.btn-lg.button-change-password.center-block Log Out
	
	.screen.hidden
	.image-capture-options
		.col-xs-10.col-xs-offset-1
			button.btn.btn-primary.btn-lg.button-take-photo Take Photo
		.col-xs-10.col-xs-offset-1
			input.hidden(id="file-upload", type="file", accept="image/*", capture="camera")
			label(for="file-upload").btn.btn-primary.btn-lg Choose Existing Image
		.col-xs-10.col-xs-offset-1
			button.btn.btn-lg.image-capture-cancel Cancel

	.video-modal.hidden
		video(autoplay).photo-capture-stream
		canvas.center-block.hidden
		button.capture.btn.btn-primary.center-block Take Photo
		.row.approve-photo.hidden
			.col-xs-4
				button.image-capture-cancel.btn.btn-lg.btn-primary.center-block: span.glyphicon.glyphicon-remove
			.col-xs-4
				button.image-capture-repeat.btn.btn-lg.btn-primary.center-block: span.glyphicon.glyphicon-repeat
			.col-xs-4
				button.image-capture-save.btn.btn-lg.btn-primary.center-block: span.glyphicon.glyphicon-ok




