.row.comment-row
	.col-xs-1.col-xs-offset-2.no-padding
		img.avatar-comment(src='../img/default-avatar.jpg')
	.col-xs-7.no-padding
		.comment-box
			p= data.comment
		p.comment-user= data.user
		p.comment-time= data.time
