h1.header User Settings
	a.glyphicon.glyphicon-menu-left.button-back(href="#")
		| #{header}

.row
	img.user-avatar.col-xs-4.col-xs-offset-1(src='../img/default-avatar.jpg')

	.col-xs-6
		p.field User Name:
		p.field-input(data-field="username", contenteditable="true") #{user.username}
		p.rating-save

		p.field Email:
		p.field-input(data-field="email", contenteditable="true") #{user.email}
		p.rating-save

p.help-text Click on the fields or picture above to change them

.setting-sliders

button.btn.btn-primary.btn-lg.button-change-password.center-block Change Password

a(href="logout").btn.btn-primary.btn-lg.button-change-password.center-block Log Out
