.header
	.user
	a.glyphicon.glyphicon-menu-left.button-back(href="#")
	h1= header

.view
	a.rate-nav(href="#spot")
		span.glyphicon.glyphicon-stats
		|    
		| Rate Wave
	p.rate-nav.rate-current
		span.glyphicon.glyphicon-sunglasses
		|    
		| View Ratings

	.ratings

	.comments