.header
	.user
	a.glyphicon.glyphicon-menu-left.button-back(href="#")
	h1= header

.view
	.rate-nav-container.rate-current
		a.rate-nav(href="#spot")
			span.glyphicon.glyphicon-stats
			|    
			| Rate Wave
		.rate-nav.rate-current
			span.glyphicon.glyphicon-sunglasses
			|    
			| View Ratings

	.ratings

	.ratings-extra.ratings-extra-hidden

	.col-xs-5
		hr.show-more
	.col-xs-2.show-more-text
		span.btn.btn-primary.btn-md.button-show-more show more
	.col-xs-5
		hr.show-more

	.comments