
.slider{
	margin-bottom: 40px;
}

.rating-header, .rating-display{
	font-size: 2rem;
	float: left;
}

.rating-display{
	float: right;
}

.rating-info{
	// margin-top: 5px;
	margin-bottom: 0px;

	float: right;
	clear: both;
	color: $color-info-dimmed;
}



.ratings{
	margin-top: 10px;

}


.value-changed{
	color: $color-secondary-text;
}

.rate-nav{
	color: $color-secondary-text;
	width: 50%;
	height: 50px;
	background-color: rgba(10,10,10,.4);
	text-align: center;
	padding-top: 11px;
	font-size: 2rem;
	float: left;
	margin-bottom: 30px;
	&:hover, &:active{
		text-decoration: none;
	}

}
.rate-current{
	background-color: transparent;
	color: white;
}
.rate-nav + .rate-nav{
	float: right;
}

.rating-save{
	position: absolute;
	right: 12px;
	top: 76px;
	font-size: 1.8rem;
	color: $color-info-dimmed;
	z-index: 2;
}

.rating-seperator{
	border-color: rgba(200,200,200,.2);
}



