.header
	.user
	a.glyphicon.glyphicon-menu-left.button-back(href="#")
	h1= header

.view
	.rate-nav-container.rate-current
		.rate-nav.rate-current
			span.glyphicon.glyphicon-stats
			|    
			| Rate Wave
		a.rate-nav(href="#view-spot")
			span.glyphicon.glyphicon-sunglasses
			|    
			| View Ratings

	p.help-text.hidden.animated Please login to rate a Wave

	.ratings

	.comment